<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>vwatch</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>

	<link rel="stylesheet" href="/css/home.css">
</head>

<body>
	
  <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand pl-5" href="#">
        <img src="/img/logo/logo.svg" width="40" height="40" alt="">
        <span>
          VWATCH
        </span>  
    </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  <ul class="navbar-nav ml-auto">
    
    <li class="nav-item">
      <a class="nav-link px-4" href="https://github.com/rajatsc/vwatch">
          <i class="fa fa-code"></i> Code
      </a>
    </li>
    
    <li class="nav-item px-4">
      <a class="nav-link" href="auth/sign_in">
          <i class="fa fa-sign-in-alt"></i> Sign In
      </a>
    </li>
    
    <li class="nav-item px-4">
        <a class="nav-link" href="auth/sign_up">
            <i class="fa fa-user-plus"></i> Sign Up
        </a>
    </li>
  
  </ul>
  </div>
</nav>
    
<div class="container" id="content">
    <div class="jumbotron" id="home">
      <div class="top-name">
        <img src="/img/logo/logo.svg" width="60" height="60" alt="">
        <span>
          <p class="brand-name">VWATCH</p>
        </span>
      </div>
      <p class="lead">Hang out with friends and watch your favourite Youtube videos in sync.</p>
        <div class="row card-deck justify-content-center">
            <div class="card mb-4 col-md-5">
                
                <div class="card-body">
                    <i class="fa fa-users fa-2x" style="color:green;"></i>
                    <p class="card-text"> <strong>Make rooms and add friends</strong>
                </div>    
            </div>
            
            <div class="card mb-4 col-md-5">
                <div class="card-body">
                    <i class="fa fa-comments fa-2x" style="color:#00BFFF;"></i>
                    <p class="card-text"> <strong>Chat with your friends while enjoying the video</strong>
                </div>    
            </div>
        </div>
        
        
                <div class="row card-deck justify-content-center">
            <div class="card mb-4 col-md-5">
                
                <div class="card-body">
                    <i class="fa fa-sync fa-2x" style="color:violet;"></i>
                    <p class="card-text"> <strong>Watch video in sync with your friends</strong>
                </div>    
            </div>
            
            <div class="card mb-4 col-md-5">
                <div class="card-body">
                    <i class="fa fa-list fa-2x" style="color:#FF0000"></i>
                    <p class="card-text"><strong> Organize videos into playlist</strong>
                </div>    
            </div>
        </div>

    <div class="container mt-8">
      <div class="row">
        <div class="col">
          <form id="user_form" action="/auth/sign_up" method="get">
            <button type="submit" class="btn btn-secondary btn-rounded py-8"><strong>Create an account</strong></button>
          </form>
        </div>  
      </div>
    </div>  
    
    <div class="container mt-3">
      <strong>OR</strong>
     </div> 

    <div class="container mt-3">
      <div class="row">
        <div class="col-6">
        <button type="submit" class="btn btn-secondary btn-rounded py-8" data-toggle="modal" data-target="#joinTempRoomModal"><strong>Join a temporary Room</strong></button> 
      </div>
      <div class="col-6">
        <form id="user_form" action="/temp_rooms/create" method="post">
      <button type="submit" class="btn btn-secondary btn-rounded py-8"><strong>Create a temporary Room</strong></button>     
    </form>
      </div>  
      </div>
    </div>


    <!---- Join temp room modal ------>
    <div class="modal" id="joinTempRoomModal" onsubmit="return validateForm()" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Enter Room url</h4></div>
      <div class="modal-body">
          <form id="joinTempRoomForm" method="post" action="/temp_rooms/join">
  <div class="form-group">
    <input type="text" class="form-control" name="temp_room_name" id="joinTempRoomInput" placeholder="Room url">
  </div>
</form>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="joinTempRoomButton" form="joinTempRoomForm">Submit</button>
        </div>
    </div>
  </div>
</div>

    </div>
</div>

<div class="footer">
  <!-- Linkedin -->
  <a href="https://www.linkedin.com/in/rajatsc" class="fa-lg px-4 my-2"><i class="fab fa-linkedin-in" style="color:black;"></i></a>
  <!-- Github -->
  <a href="https://www.github.com/rajatsc" class="fa-lg px-4 my-2"><i class="fab fa-github" style="color:black;"></i></a>
</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src=/js/home.js></script>
</body>

</html>